<% if @user.errors.any? %>
  <div id="validation_errors" class="alert alert-block alert-error">
    <h4>Please correct the following errors:</h4>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li> <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, html: {class: 'form-signin'} do |f| %>
  <h2 class='form-signin-heading'>User Information</h2>

  <div class="control-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= f.submit "Sign Up", class: 'btn btn-large btn-primary'%></div>
<% end %>

