<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= render('layouts/follow_suggestion') %>
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <% if current_user %>
              <%= content_for?(:user_info) ? yield(:user_info) : render(current_user) %>
            <% end %>
          </div><!--/span-->
        </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
