<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <% if current_user %>
              <div class="well sidebar-nav">
                <h3><%= current_user.username %></h3>
                <%= link_to 'Compose new Quip', quip_path, class: 'btn' %>
              </div><!--/.well -->
            <% end %>
          </div><!--/span-->
        </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
